<p id="notice"><%= notice %></p>

  <div class="row">
    <div class="col-sm-12">
      <div class="box">   
        <div class="box-header">
          <div class="col-sm-2"></div>
          <h3 class="box-title col-sm-6">
            Cajas
          </h3>
          <%= link_to 'Nueva Caja', new_cash_path, remote: true, class: "btn btn-primary" %>           
        </div> 
        
        <div class="box-body">
          <div class="dataTables_wrapper form-inline dt-bootstrap">
            <div class="row">
              <div class="col-sm-6"></div>
              <div class="col-sm-6"></div>
            </div>
            
            <div class="row">
              <div class="col-sm-offset-1 col-sm-9">
                <table class="table table-bordered table-hover dataTable">
                  <thead>
                    <tr role="row">
                      <th class="col-sm-2">Estado</th>
                      <th class="col-sm-4">Descripcion</th>
                      <th class="col-sm-2"></th>
                      <th class="col-sm-4"></th>  
                    </tr>
                  </thead>
                  <tbody>
                    <% @cashes.each do |cash| %>
                    <%= render "row", cash: cash %>
                    <% end %>
                  </tbody>  
                </table>
              </div>  
            </div>
          </div>
        </div>
      </div>  
    </div>
  </div>


  

  