<!--Obtiene el numero de asineto para esa iteracion-->
<%busca_num=AccountingEntry.find(a_x_e.accounting_entry_id).numero%>
<!--obtiene todos los id que tengan ese numero de asiento y con ese iva, luego solo se obtiene el ultimo-->
<%todo_asiento=AccountingEntry.where('numero=?',busca_num).select('id')%> 


              <!-- Si el que sigue de este asiento es nil significa que el objeto en esta iteracion es el ultimo o si el numero  de asiento de la siguiente iteracion es distinto al de estaa iteracion significa que es el ultimo  con el mismo numero de asiento-->
            <%if AccountingEntry.find(a_x_e.accounting_entry_id).id==todo_asiento.last.id%>  

                <%cont=0%>
                <!-- Obtengo todas las facturas que esten relacionadas al asiento-->
                <%numeroFac=AccountingEntry.find_by_sql("SELECT invoices.id, invoices.numero ,accounting_entries.numero AS num_asiento FROM accounting_entries ,cash_movements,detail_of_cash_movements ,invoices WHERE cash_movements.accounting_entry_id=accounting_entries.id AND  detail_of_cash_movements.cash_movement_id=cash_movements.id AND detail_of_cash_movements.invoice_id=invoices.id")%>
                <!--Si no se encuentra esa factura entonces que cierre el asiento-->
                <%if numeroFac.count==0%>
                 <td colspan="6" scope="row">Segun factura nº=</td>
                  <%end%>
              <tr>
                <td colspan="6" scope="row" class="no-print">Segun factura nº=
                <%numeroFac.each do |n_f|%>
                <!-- Recorro todos los resultados para comparar si el numero de asiento en esta posicion es igual a algun elemento que este en numeroFac-->
                  <%if n_f.num_asiento == AccountingEntry.find(a_x_e.accounting_entry_id).numero%> 
                      
                      <% Invoice.all.each do |invoice| %>
                        <!--Recorro todas las facturas exitentes para comparar si algun elemento de numeroFac son iguales-->
                        <%if invoice.id==numeroFac[cont].id%>
                        <!--Si son iguales muestro la factura correspondiente a este asiento-->
                          
                            <%= link_to numeroFac[cont].numero ,invoice  , remote: true,'data-toggle' => 'tooltip', 'data-placement' => 'rigth'%>,

                        <%end%>
                      <%end%>    
                   
                  <%end%>
                <%cont+=1%>  
              <%end%>
              </td>
               </tr>

              <%cont=0%>
              <tr>
              <td colspan="6" scope="row" class="hide">Segun factura nº=
                 <%numeroFac.each do |n_f|%>
                <!-- Recorro todos los resultados para comparar si el numero de asiento en esta posicion es igual a algun elemento que este en numeroFac-->
                  <%if n_f.num_asiento == AccountingEntry.find(a_x_e.accounting_entry_id).numero%> 
                      
                      <% Invoice.all.each do |invoice| %>
                        <!--Recorro todas las facturas exitentes para comparar si algun elemento de numeroFac son iguales-->
                        <%if invoice.id==numeroFac[cont].id%>
                        <!--Si son iguales muestro la factura correspondiente a este asiento-->
                          
                            <%=numeroFac[cont].numero%>,

                        <%end%>
                      <%end%>    
                   
                  <%end%>
                <%cont+=1%>  
              <%end%>

              </td>
              </tr>
             <%end%>
            