              <tr>           
              <td><%=AccountingEntry.find(a_x_e.accounting_entry_id).numero%></td>
              <td><%=AccountingEntry.find(a_x_e.accounting_entry_id).fecha.strftime("%d/%m/%Y")%></td>
              <td></td>
              <td><%=a_x_e.observacion%></td>
              <td ></td>
              <td ></td>
              </tr>