<!-- Modal -->
<div class="modal fade" id="show-modal">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Cambios</h4>
      </div>
      
      <div class="modal-body">          

          <div class="form-group">
            <p>
              <strong>Cambio:</strong>
              <%= @audited_table.audited_changes %>
            </p>       
          </div>         

      </div>

      <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-lg" data-dismiss="modal">Aceptar</button>
      </div>

    </div>      
  </div>
</div>