<div class="box box-primary">
  <div class="box-header with-border">
    <center><h3 class="box-title">Auditoria</h3></center>

    <div class="row">
      <%= form_for_filterrific @filterrific do |f| %>

          <div class="col-xs-3">
          <%= f.text_field(:sorted_by,class: 'filterrific-periodically-observed form-control',placeholder:"Buscar por Tabla")%>
          </div>
           
         <%= render_filterrific_spinner %>
      <% end %>
      </div>    
  </div>

  <%= render(
  partial: 'audit/list',
  locals: { audited_tables: @audited_tables }
  ) %>
  

</div>