<div class="page-header">
  <%= link_to cash_movements_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Atras
  <% end %>
  <%= link_to @cash_movement, class: 'btn btn-primary', title: 'Ver' do %>
    <span class="glyphicon glyphicon-eye-open"></span>
    Mostrar
  <% end %>
</div>

<%= render 'form', title: 'Editar Movimiento' %>
