<div class="page-header">
  <%= link_to cash_movements_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-chevron-left"></span>
    Atras
  <% end %>
</div>

<%= render 'form', title: "Nuevo Movimiento" %>
