<div class="box box-primary">

	<div class="box-header with-border">
	  <%=link_to 'Movimientos',list_path(@id), class: "btn btn-primary" %>
	  <h1><center>Caja: <%=@caja%></center></h1>
	</div>
	<div class="box-body">
		<%= render 'form' %>
	</div>
</div>