<div class="box box-primary">

	<div class="box-header with-border">
		
	  	<div class="col-sm-2"></div>
	  	<h3 class="box-title col-sm-8"><center>Caja: <%=@caja%></center></h3>
	</div>
	<div class="box-body">
		<%= render 'form' %>
	</div>
</div>