<div class="page-header">
  <%= link_to new_account_plan_path, remote: true, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Nuevo plan
  <% end %>
  <h1 class="titulo">      PLANES DE CUENTAS
        <strong class="bloque_rayita">
        <span class="rayita"></span>
     </strong>
   </h1>
</div>
        <div class="box-body">
          <div class="dataTables_wrapper form-inline dt-bootstrap">
            <div class="row">
              <div class="col-sm-6"></div>
              <div class="col-sm-6"></div>
            </div>
            
            <div class="row">
              <div class="col-sm-offset-1 col-sm-9">
                <table class="table t-bordered table-color table-condensed  table-responsive table-sombra">
                  <thead>
                    <tr role="row">
                      <th class="col-sm-2">Descripcion</th>
                      <th class="col-sm-3">Estado</th>
                      <th class="col-sm-3">Version</th>  
                      <th class="col-sm-3">Opciones</th> 
                    </tr>
                  </thead>
                  <tbody>
                    <% @account_plans.each do |account_plan| %>
                    <%= render "row", account_plan: account_plan %>
                    <% end %>
                  </tbody>  
                </table>
              </div>  
            </div>
          </div>
        </div>
  </table>
</div>