<div class="page-header">
  <%= link_to account_plan_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Atras
  <% end %>
  <h1>Nuevo Plan</h1>
</div>

<%= render 'form' %>
