<div class="box">
   <div class="box-header with-border">
 
  	<h3>Nuevo Empleado</h3>
  
 		<%= link_to employees_path, class: 'btn btn-default' do %>
    	<span class="glyphicon glyphicon-list-alt"></span>
    	Volver 
  		<% end %>

 </div>
 <%= render 'form' %>
</div>