<div class="page-header">
  <%= link_to budget_service_details_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to @budget_service_detail, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Show
  <% end %>
  <h1>Editing budget_service_detail</h1>
</div>

<%= render 'form' %>
