<div class="page-header">
  <%= link_to budget_service_details_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>New budget_service_detail</h1>
</div>

<%= render 'form' %>
