<p id="notice"><%= notice %></p>

  <div class="row">
    <div class="col-sm-12">
      <div class="box box-primary">   
        <div class="box-header">
          <div class="col-sm-2"></div>
          <h3 class="box-title col-sm-6">
            Aperturas de Cajas
          </h3>
          <%= link_to 'Nueva Apertura', new_opening_cash_path, class: "btn btn-primary" %>           
        </div> 
        
        <div class="box-body">
          <div class="dataTables_wrapper form-inline dt-bootstrap">
            <div class="row">
              <div class="col-sm-6"></div>
              <div class="col-sm-6"></div>
            </div>
            
            <div class="row">
              <div class="col-sm-offset-1 col-sm-9">
                <table class="table table-bordered table-hover dataTable">
                  <thead>
                    <tr role="row">
                      <th>Caja</th>
                      <th>Cajero</th>
                      <th>Fecha</th>
                      <th>Monto Efectivo</th> 
                      <th>Opciones</th>  
                    </tr>
                  </thead>
                  <tbody>
                    <% @opening_cashes.each do |opening_cash| %>
                    <%= render "row", opening_cash: opening_cash %>
                    <% end %>
                  </tbody>  
                </table>
              </div>  
            </div>
          </div>
        </div>
      </div>  
    </div>
  </div>


  

  