<div class="page-header">
  <%= link_to cashes_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-chevron-left"></span>
    Atras
  <% end %>
</div>

<%= render 'my_form', title: "Nueva Apertura" %>
