<div class="page-header">
  <%= link_to opening_cashes_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Atras
  <% end %>
</div>

<%= render 'form', title: "Nueva Apertura" %>
