<div class="box">
 <div class="box-body">
    <div class="col-sm-3">
         <%= link_to new_cleaning_room_path, class: 'btn btn-primary form-control' do %>
            <span class="glyphicon glyphicon-plus"></span>
            Nueva Limpieza
          <% end %>
    </div>

     <button type="button" class="btn btn-primary" id="showmenu">
          <span class="glyphicon glyphicon-search"></span>
      </button> 
  </div>
      <div class="menu well" style="display: none;">
      <div class="row">    
         <div class="col-sm-2">
           <%= select(@room, @room.id, Room.all.collect {|p| [ p.identificador, p.id ] }, {include_blank:false},id:"selecionar",class: "form-control") %>
        </div>
         <div class="col-sm-2">
         <button id="s" type="button"  class="btn btn-primary">Filtrar</button> 
          </div>  
    </div>
    </div>
<script type="text/javascript">
   $(window).load(function() {
        $('#showmenu').click(function() {
                $('.menu').toggle("slide");
        }); 
    });
   </script>

<script type="text/javascript">
    $(function() {
        
        $('#s').click(function() {
          p = $("#selecionar").val();
          $(location).attr('href',"/cleanings?dato="+p+""); 
        });
      });

</script>


   <div class="box">
            <div class="box-header">
              <h3 ><center>Calendario</center></h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
           <div class="box-body no-padding">
              <!-- THE CALENDAR -->
              <div id="calendar"></div>
            </div>
         
     
      </div>
 </div>   


