<div class="page-header">
  <%= link_to cleaning_rooms_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
   Volver
  <% end %>
  <h1>Nueva Limpieza</h1>
</div>

<%= render 'form' %>
