<div class="page-header">
  <%= link_to reservation_requests_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1><center>Nuevo Presupuesto</center></h1>
</div>
<%= render 'my_form' %>
