<div class="page-header">
  <%= link_to detail_of_cash_movements_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>New detail_of_cash_movement</h1>
</div>

<%= render 'form' %>
