<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>
<li><a href="<%=dashboard_index_path%>"><i class='glyphicon glyphicon-link'></i> <span>Ingresar</span></a></li>



<%if !user_signed_in? %>
	<h1>Pedir Reservacion</h1>
	<%= render 'reservation_requests/form' %>
<%end%>