<div class="box" id="tipos">
	<div id="first-slider">
	    <div id="carousel-example-generic" class="carousel slide carousel-fade">
	        <ol class="carousel-indicators">
	            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
	            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
	            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
	            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
	        </ol>
	     
	        <div class="carousel-inner" role="listbox">
	        
	            <div class="item active slide1">
	                <div class="row"><div class="container">
	                    <div class="col-md-4 text-right">
	                        <h1 data-animation="animated bounceInDown">#HOTEL UNI</h3>
	                    </div>
	                    <div class="col-md-8 text-left">
	                        <h3 data-animation="animated bounceInDown">Las mejores habitaciones</h3>
	                        <h4 data-animation="animated bounceInUp">El mejor personal</h4>             
	                     </div>
	                </div></div>
	             </div> 
	          
	            <div class="item slide2">
	                <div class="row"><div class="container">
	                    <div class="col-md-7 text-left">
	                        <h3 data-animation="animated bounceInDown"> 120 Habitaciones</h3>
	                        <h4 data-animation="animated bounceInUp">Diferentes Ambientes </h4>
	                     </div>
	                    <div class="col-md-5 text-right">
	                    
	                    </div>
	                </div></div>
	            </div>
	        
	            <div class="item slide3">
	                <div class="row"><div class="container">
	                    <div class="col-md-7 text-left">
	                        <h3 data-animation="animated bounceInDown">Comodidad</h3>
	                        <h4 data-animation="animated bounceInUp">Elegancia</h4>
	                     </div>
	                    <div class="col-md-5 text-right">
	                    
	                       
	                </div></div>
	            </div>
	        
	            <div class="item slide4">
	                <div class="row"><div class="container">
	                    <div class="col-md-7 text-left">
	                        <h3 data-animation="animated bounceInDown">100% Paraguayo</h3>
	                        <h4 data-animation="animated bounceInUp">Tu hotel</h4>
	                     </div>
	                    <div class="col-md-5 text-right">
	                      
	                    </div>  
	                </div></div>
	            </div>
	           
	    
	        </div>
	 
	        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
	            <i class="fa fa-angle-left"></i><span class="sr-only">Previous</span>
	        </a>
	        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
	            <i class="fa fa-angle-right"></i><span class="sr-only">Next</span>
	        </a>
	    </div>
	</div>
	<div class="box-body">
	     <h1 align="center">NUESTRAS HABITACIONES</h1>
	     <h3 align="center" class="tipos-h3">Tenemos lo mejor en habitaciones para todos los gustos solo diganos que busca en una y trataremos de hacer lo mejor para satisfacerlo.</h3>
	</div>
	  <section id="least">
            
            <!-- Least Gallery: Fullscreen Preview -->
            <div class="least-preview"></div>
            
            <!-- Least Gallery: Thumbnails -->
            <ul class="least-gallery">
                <!-- 1 || Element with data-caption ||-->
                <li>
                    <a href="src/media/big/01.jpg" title="Skateboard" data-subtitle="View Picture" data-caption="<strong>Bold text</strong> normal caption text">
                        <img src="src/media/thumbnails/01.jpg" alt="Alt Image Text" />
                    </a>
                </li>
                
                <!-- 2 || Element with data-caption as href-attribute ||-->-->
                <li>
                    <a href="src/media/big/02.jpg" title="Train Rails" data-subtitle="View Picture" data-caption="Now it's possibe to add an URL-Link into caption text - <a href='http://www.google.com' target='_blank'>GOOGLE</a>">
                        <img src="src/media/thumbnails/02.jpg" alt="Alt Image Text" />
                    </a>
                </li>
                
                <!-- 3 -->
                <li>
                    <a href="src/media/big/03.jpg" title="Apple" data-subtitle="View Picture">
                        <img src="src/media/thumbnails/03.jpg" alt="Alt Image Text" />
                    </a>
                </li>

                <!-- 4 -->
                <li>
                    <a href="src/media/big/04.jpg" title="Road Trip" data-subtitle="View Picture">
                        <img src="src/media/thumbnails/04.jpg" alt="Alt Image Text" />
                    </a>
                </li>

                <!-- 5 -->
                <li>
                    <a href="src/media/big/05.jpg" title="Desert" data-subtitle="View Picture">
                        <img src="src/media/thumbnails/05.jpg" alt="Alt Image Text" />
                    </a>
                </li>

                <!-- 6 -->
                <li>
                    <a href="src/media/big/06.jpg" title="Tree" data-subtitle="View Picture">
                        <img src="src/media/thumbnails/06.jpg" alt="Alt Image Text" />
                    </a>
                </li>

                <!-- 7 -->
                <li>
                    <a href="src/media/big/07.jpg" title="MacBook" data-subtitle="View Picture">
                        <img src="src/media/thumbnails/07.jpg" alt="Alt Image Text" />
                    </a>
                </li>

                <!-- 8 -->
                <li>
                    <a href="src/media/big/08.jpg" title="Clock" data-subtitle="View Picture">
                        <img src="src/media/thumbnails/08.jpg" alt="Alt Image Text" />
                    </a>
                </li>

                <!-- 9 -->
                <li>
                    <a href="src/media/big/09.jpg" title="iPhone" data-subtitle="View Picture">
                        <img src="src/media/thumbnails/09.jpg" alt="Alt Image Text" />
                    </a>
                </li>

                <!-- 10 -->
                <li>
                    <a href="src/media/big/10.jpg" title="New York" data-subtitle="View Picture">
                        <img src="src/media/thumbnails/10.jpg" alt="Alt Image Text" />
                    </a>
                </li>
            </ul>

        </section>
          <script>
            $(document).ready(function(){
                $('.least-gallery').least();
            });
        </script>
	

</div>
