<div class="box" id="tipos">
	<div id="first-slider">
	    <div id="carousel-example-generic" class="carousel slide carousel-fade">
	        <ol class="carousel-indicators">
	            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
	            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
	            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
	            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
	        </ol>
	     
	        <div class="carousel-inner" role="listbox">
	        
	            <div class="item active slide1">
	                <div class="row"><div class="container">
	                    <div class="col-md-4 text-right">
	                        <h1 data-animation="animated bounceInDown">#HOTEL UNI</h3>
	                    </div>
	                    <div class="col-md-8 text-left">
	                        <h3 data-animation="animated bounceInDown">Las mejores habitaciones</h3>
	                        <h4 data-animation="animated bounceInUp">El mejor personal</h4>             
	                     </div>
	                </div></div>
	             </div> 
	          
	            <div class="item slide2">
	                <div class="row"><div class="container">
	                    <div class="col-md-7 text-left">
	                        <h3 data-animation="animated bounceInDown"> 120 Habitaciones</h3>
	                        <h4 data-animation="animated bounceInUp">Diferentes Ambientes </h4>
	                     </div>
	                    <div class="col-md-5 text-right">
	                    
	                    </div>
	                </div></div>
	            </div>
	        
	            <div class="item slide3">
	                <div class="row"><div class="container">
	                    <div class="col-md-7 text-left">
	                        <h3 data-animation="animated bounceInDown">Comodidad</h3>
	                        <h4 data-animation="animated bounceInUp">Elegancia</h4>
	                     </div>
	                    <div class="col-md-5 text-right">
	                    
	                       
	                </div></div>
	            </div>
	        
	            <div class="item slide4">
	                <div class="row"><div class="container">
	                    <div class="col-md-7 text-left">
	                        <h3 data-animation="animated bounceInDown">100% Paraguayo</h3>
	                        <h4 data-animation="animated bounceInUp">Tu hotel</h4>
	                     </div>
	                    <div class="col-md-5 text-right">
	                      
	                    </div>  
	                </div></div>
	            </div>
	           
	    
	        </div>
	 
	        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
	            <i class="fa fa-angle-left"></i><span class="sr-only">Previous</span>
	        </a>
	        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
	            <i class="fa fa-angle-right"></i><span class="sr-only">Next</span>
	        </a>
	    </div>
	</div>
	<div class="box-body">
	     <h1 align="center">NUESTRAS HABITACIONES</h1>
	     <h3 align="center" class="tipos-h3">Tenemos lo mejor en habitaciones para todos los gustos solo diganos que busca en una y trataremos de hacer lo mejor para satisfacerlo.</h3>
	</div>
	    <section id="fh5co-work" data-section="Habitaciones">
        <div class="container">
			<div class="col-md-4 col-sm-5 col-xxs-12">
	                    <a id="single_1"  href="https://res.cloudinary.com/dqgld1gyl/image/upload/c_scale,h_320,w_640/v1477406526/bzdeaqwolt80bd4346an.jpg" class="fh5co-project-item to-animate">
	                        <%= image_tag "habitacion.jpg", :class =>"img-responsive" , alt: "Image" %>
	                        <div class="fh5co-text">
	                        <h2>Habitacion 1</h2>
	                        <span>Branding</span>
	                        </div>
	                    </a>
	         </div>
	<div class"col-sm-7" style=" padding-left:10px;">			
		<div class="accordian">
			    <ul>
			    <li>
			      <div class="image_title">
			        <a href="#">Matrimoniales</a>
			      </div>
			      <a id="single_1" href="https://res.cloudinary.com/dqgld1gyl/image/upload/c_scale,h_320,w_640/v1477406526/bzdeaqwolt80bd4346an.jpg" title="Morning on Camaret (Tony N.)">
			        <img src="https://res.cloudinary.com/dqgld1gyl/image/upload/c_scale,h_320,w_640/v1477406526/bzdeaqwolt80bd4346an.jpg"/>
			      </a>
			    </li>
			      <li>
			      <div class="image_title">
			        <a href="#">Simples UNI</a>
			      </div>
			      <a id="single_1"  href="https://res.cloudinary.com/dqgld1gyl/image/upload/c_scale,h_320,w_640/v1477406526/bzdeaqwolt80bd4346an.jpg" title="Morning on Camaret (Tony N.)">
			        <img src="https://res.cloudinary.com/dqgld1gyl/image/upload/c_scale,h_320,w_640/v1479021461/xaz22gfenemaghukfgsf.jpg"/>
			      </a>
			    </li>
			    <li>
			      <div class="image_title">
			        <a href="#">Simples</a>
			      </div>
			      <a id="single_1" href="https://res.cloudinary.com/dqgld1gyl/image/upload/c_scale,h_320,w_640/v1477163313/yoe9i7lbnkunsatypeoj.jpg" title="Morning on Camaret (Tony N.)">
			        <img src="https://res.cloudinary.com/dqgld1gyl/image/upload/c_scale,h_320,w_640/v1477163313/yoe9i7lbnkunsatypeoj.jpg"/>
			      </a>
			    </li>
			    <li>
			      <div class="image_title">
			        <a href="#">Dobles</a>
			      </div>
			     <a id="single_1" href="https://res.cloudinary.com/dqgld1gyl/image/upload/c_scale,h_320,w_640/v1479021443/zzhotxr3qiv2z38fz8jr.jpg" title="Morning on Camaret (Tony N.)">
			        <img src="https://res.cloudinary.com/dqgld1gyl/image/upload/c_scale,h_320,w_640/v1479021443/zzhotxr3qiv2z38fz8jr.jpg"/>
			      </a>
			    </li>
			    <li>
			      <div class="image_title">
			        <a href="#">Matrimoniales</a>
			      </div>
			      <a id="single_1" href="https://res.cloudinary.com/dqgld1gyl/image/upload/c_scale,h_320,w_640/v1477406526/bzdeaqwolt80bd4346an.jpg" title="Morning on Camaret (Tony N.)">
			        <img src="https://res.cloudinary.com/dqgld1gyl/image/upload/c_scale,h_320,w_640/v1477406526/bzdeaqwolt80bd4346an.jpg"/>
			      </a>
			    </li>
			    <li>
			      <div class="image_title">
			        <a href="#">Suites UNI</a>
			      </div>
			      <a id="single_1" href="https://res.cloudinary.com/dqgld1gyl/image/upload/c_scale,h_320,w_640/v1479021436/vasv1tqsyzn3ws3oxlqx.jpg" title="Morning on Camaret (Tony N.)">
			        <img src="https://res.cloudinary.com/dqgld1gyl/image/upload/c_scale,h_320,w_640/v1479021436/vasv1tqsyzn3ws3oxlqx.jpg"/>
			      </a>
			    </li>
			  </ul>
		</div>
	</div>
  
       

        </section>
	

</div>
