<div class="box" id="tipos">
	<div id="first-slider">
	    <div id="carousel-example-generic" class="carousel slide carousel-fade">
	        <ol class="carousel-indicators">
	            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
	            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
	            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
	            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
	        </ol>
	     
	        <div class="carousel-inner" role="listbox">
	        
	            <div class="item active slide1">
	                <div class="row"><div class="container">
	                    <div class="col-md-4 text-right">
	                        <h1 data-animation="animated bounceInDown">#HOTEL UNI</h3>
	                    </div>
	                    <div class="col-md-8 text-left">
	                        <h3 data-animation="animated bounceInDown">Las mejores habitaciones</h3>
	                        <h4 data-animation="animated bounceInUp">El mejor personal</h4>             
	                     </div>
	                </div></div>
	             </div> 
	          
	            <div class="item slide2">
	                <div class="row"><div class="container">
	                    <div class="col-md-7 text-left">
	                        <h3 data-animation="animated bounceInDown"> 120 Habitaciones</h3>
	                        <h4 data-animation="animated bounceInUp">Diferentes Ambientes </h4>
	                     </div>
	                    <div class="col-md-5 text-right">
	                    
	                    </div>
	                </div></div>
	            </div>
	        
	            <div class="item slide3">
	                <div class="row"><div class="container">
	                    <div class="col-md-7 text-left">
	                        <h3 data-animation="animated bounceInDown">Comodidad</h3>
	                        <h4 data-animation="animated bounceInUp">Elegancia</h4>
	                     </div>
	                    <div class="col-md-5 text-right">
	                    
	                       
	                </div></div>
	            </div>
	        
	            <div class="item slide4">
	                <div class="row"><div class="container">
	                    <div class="col-md-7 text-left">
	                        <h3 data-animation="animated bounceInDown">100% Paraguayo</h3>
	                        <h4 data-animation="animated bounceInUp">Tu hotel</h4>
	                     </div>
	                    <div class="col-md-5 text-right">
	                      
	                    </div>  
	                </div></div>
	            </div>
	           
	    
	        </div>
	 
	        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
	            <i class="fa fa-angle-left"></i><span class="sr-only">Previous</span>
	        </a>
	        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
	            <i class="fa fa-angle-right"></i><span class="sr-only">Next</span>
	        </a>
	    </div>
	</div>
	<div class="box-body">
	     <h1 align="center">NUESTRAS HABITACIONES</h1>
	     <h3 align="center" class="tipos-h3">Tenemos lo mejor en habitaciones para todos los gustos solo diganos que busca en una y trataremos de hacer lo mejor para satisfacerlo.</h3>
	</div>
	<div class="box-body">
	  <section id="least">
            
            <!-- Least Gallery: Fullscreen Preview -->
            <div class="least-preview"></div>
            
            <!-- Least Gallery: Thumbnails -->
            <ul class="least-gallery">
                 <li>
                    <a href="https://res.cloudinary.com/dqgld1gyl/image/upload/v1479440923/91efd-6-Ayada_Maldives-Sunset-Ocean-Sutes_qca6qw.jpg" title="Suite" data-subtitle="Precio: 10.000.000 GS" data-caption="<strong>Bold text</strong> normal caption text">
                        <img src="http://res.cloudinary.com/dqgld1gyl/image/upload/c_scale,h_250,w_400/v1479440923/91efd-6-Ayada_Maldives-Sunset-Ocean-Sutes_qca6qw.jpg" alt="Alt Image Text" />
                    </a>
                </li>
                <li>
                    <a href="https://res.cloudinary.com/dqgld1gyl/image/upload/e_vibrance:20/v1479437960/c4dce2_a35c6365062c46ad9f0cecaf480433bb_hmcesy.webp" title="Suite" data-subtitle="Precio: 5.000.000 GS" data-caption="<strong>Bold text</strong> normal caption text">
                        <img src="https://res.cloudinary.com/dqgld1gyl/image/upload/c_scale,h_250,w_400/v1479437960/c4dce2_a35c6365062c46ad9f0cecaf480433bb_hmcesy.webp" alt="Alt Image Text" />
                    </a>
                </li>
                 <li>
                    <a href="https://res.cloudinary.com/dqgld1gyl/image/upload/e_vibrance:20/v1479438093/c4dce2_f16a699da7784fb7ae3a24925fae3a15_rrjmft.webp" title="Suite" data-subtitle="Precio: 8.000.000 GS" data-caption="<strong>Bold text</strong> normal caption text">
                        <img src="https://res.cloudinary.com/dqgld1gyl/image/upload/c_scale,h_250,w_400/v1479438093/c4dce2_f16a699da7784fb7ae3a24925fae3a15_rrjmft.webp" alt="Alt Image Text" />
                    </a>
                </li>
               

            </ul>

        </section>
        	</div>
          <script>
            $(document).ready(function(){
                $('.least-gallery').least();
            });
        </script>
	

</div>
