	<div class="box">	
		<div class="box-header with-border">
		  <h3><center>Editar limpieza de Habitacion</center></h3>
		    <%= link_to cleaning_rooms_path, class: 'btn btn-default' do %>
		    <span class="fa fa-calendar-check-o"></span>

		  <% end %>
		  <%= link_to @cleaning, class: 'btn btn-success' do %>
		    <span class="glyphicon glyphicon-info-sign"></span>
		    Ver
		  <% end %>
		</div>

		<%= render 'form' %>
	</div>