<div class="box">
<div class="box-header with-border">
  <%= link_to reservations_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Atras
  <% end %>
  <%= link_to '', @reservation, remote: true, class: "btn btn-primary glyphicon glyphicon-eye-open" %>
   <h4><center>Editando Reservacion</center></h4>
</div>
<div class="box-body">
<%= render 'my_form' %>
</div>
</div>

