
<div class="global indent">

    <div class="containerL">
        <h1 class="titulo">Libro Mayor
            <strong class="bloque_rayita">
               <span class="rayita"></span>
            </strong>
        </h1>
        <div class="row">
            <div class="gall-box">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
                    <div class="thumb-pad8 maxheight" style="height: 486px;"><div class="box_inner">
                        <div class="thumbnail">
                          
                            <div class="caption"style="text-align: center;">
                                <h4 >Banco</h4>
                                <table class="table t-bordered  table-condensed" style="width: 290px;margin: 0 auto;">
                                    <thead >
                                      <tr>
                                        <th>Debe</th>
                                        <th>Haber</th>  
                                      </tr>
                                    </thead>
                                    <tbody>
                                    	<tr>
                                    	<td></td>
                                    	<td></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
           </div>
       </div>
    </div>
</div>

               