<div class="container">
  <div class="row">
    <h2>Media Slider Carousel BS3</h2>
  </div>
  <div class='row'>
    <div class='col-md-12'>
      <div class="carousel slide media-carousel" id="media">
        <div class="carousel-inner">
          <div class="item  active">
            <div class="row">
              <div class="col-md-4">
                <a class="thumbnail" href="#"><img alt="" src="http://res.cloudinary.com/dqgld1gyl/image/upload/c_scale,h_300,w_550/v1479440923/91efd-6-Ayada_Maldives-Sunset-Ocean-Sutes_qca6qw.jpg"></a>
              </div>          
              <div class="col-md-4">
                <a class="thumbnail" href="#"><img alt="" src="https://res.cloudinary.com/dqgld1gyl/image/upload/c_scale,h_300,w_550/v1479439895/Pano-1_cbfkwp.jpg"></a>
              </div>
              <div class="col-md-4">
                <a class="thumbnail" href="#"><img alt="" src="https://res.cloudinary.com/dqgld1gyl/image/upload/c_scale,h_350,w_500/v1479438093/c4dce2_f16a699da7784fb7ae3a24925fae3a15_rrjmft.webp"></a>
              </div>        
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col-md-4">
                <a class="thumbnail" href="#"><img alt="" src="http://res.cloudinary.com/dqgld1gyl/image/upload/c_scale,h_350,w_500/v1479437960/c4dce2_a35c6365062c46ad9f0cecaf480433bb_hmcesy.webp"></a>
              </div>          
              <div class="col-md-4">
                <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>
              </div>
              <div class="col-md-4">
                <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>
              </div>        
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col-md-4">
                <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>
              </div>          
              <div class="col-md-4">
                <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>
              </div>
              <div class="col-md-4">
                <a class="thumbnail" href="#"><img alt="" src="http://placehold.it/150x150"></a>
              </div>      
            </div>
          </div>
        </div>
        <a data-slide="prev" href="#media" class="left carousel-control">‹</a>
        <a data-slide="next" href="#media" class="right carousel-control">›</a>
      </div>                          
    </div>
  </div>
</div>
<script type="text/javascript">
$(document).ready(function() {
  $('#media').carousel({
    pause: true,
    interval: 4000,
  });
});
</script>