<section class="invoice">
<div class="page-header">
 
  <h1>Nueva Habitacion</h1>
</div>
  <%= link_to rooms_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Volver 
  <% end %>

<%= render 'form' %>
</section>