<div class="page-header">
  <%= link_to type_of_rooms_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>New type_of_room</h1>
</div>

<%= render 'form' %>
