<div class="page-header">
  <%= link_to type_of_cash_movements_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to @type_of_cash_movement, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-info-sign"></span>
    Show
  <% end %>
  <h1>Editing type_of_cash_movement</h1>
</div>

<%= render 'form' %>
