body.room{
   # background:#1565C0; /* For browsers that do not support gradients */
   # background: linear-gradient(#1565C0,#BBDEFB); /* Standard syntax */
  

}
img.room {
			/* Set rules to fill background */
			min-height: 100%;
			min-width: 1024px;
			
			/* Set up proportionate scaling */
			width: 100%;
			height: auto;
			
			/* Set up positioning */
			position: fixed;
			top: 0;
			left: 0;
		}

tr.ind{
	  background-color:#ECEFF1;
}