 
<div class="box">
 <div class="box-header with-border">
  <h1 class="box-title">Reportes </h1>
  </div>

<div class="box-body">

      

       
     
      <ul class="list-group product-category-all">
       <li class="list-group-item"><span class="pull-right">
        <button class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-chevron-right"></i><a href="#" style="color:white"> Ver reporte</a></button></span>
        <h4 style="margin:1px"><B> Habitaciones</B></h4>
        <i><p>Lista las habitaciones disponibles por estado y tipo de habitacion</p></i>
    </li>
    <li class="list-group-item"><span class="pull-right">
        <button class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-chevron-right"></i><a href="#" style="color:white"> Ver reporte</a></button></span>
        <h4 style="margin:1px"><B>Clientes</B></h4>
        <i><p>Lista los clientes registrados dentro del Hotel</p></i> 
    </li>
    <li class="list-group-item"><span class="pull-right">
        <button class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-chevron-right"></i><a href="#" style="color:white"> Ver reporte</a></button></span>
       <h4 style="margin:1px"><B>Servicios y Precios</B></h4>
       <i><p>Lista los servicios con sus respectivos precios</p></i>
    </li>
    <li class="list-group-item"><span class="pull-right">
        <button class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-chevron-right"></i><a href="#" style="color:white"> Ver reporte</a></button></span>
        <h4 style="margin:1px"><B>Cuentas de las Habitaciones</B></h4>
        <i><p>Lista los servicios registrados dentro de la cuenta de una habitacion</p></i>
    </li>
    <li class="list-group-item"><span class="pull-right">
        <button class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-chevron-right"></i><a href="#" style="color:white"> Ver reporte</a></button></span>
       <h4 style="margin:1px"><B>Limpieza</B></h4>
       <i><p>Lista los servicios de limpieza y quien los realizo en rango de fechas</p></i>
    </li>
    <li class="list-group-item"><span class="pull-right">
        <button class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-chevron-right"></i><a href="#" style="color:white"> Ver reporte</a></button></span>

      <h4 style="margin:1px"><B>Quejas</B></h4>
      <i><p>Lista las quejas por habitacion, servicio relacionado y/o fecha</p></i>
    </li>
     <li class="list-group-item"><span class="pull-right">
        <button class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-chevron-right"></i><a href="#" style="color:white"> Ver reporte</a></button></span>

      <h4 style="margin:1px"><B>Ingresos</B></h4>
      <i><p>Lista los ingresos del hotel por rango de fechas</p></i>
    </li>
    <li class="list-group-item"><span class="pull-right">
        <button class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-chevron-right"></i><a href="#" style="color:white"> Ver reporte</a></button></span>
        <h4 style="margin:1px"><B>Pedido de Reservas</B></h4>
        <i><p>Lista los pedidos de reserva y su actual estado</p></i>
    </li>
    <li class="list-group-item"><span class="pull-right">
        <button class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-chevron-right"></i><a href="#" style="color:white"> Ver reporte</a></button></span>
       <h4 style="margin:1px"><B>Valores</B></h4>
       <i><p>Lista los valores recibidos del hotel</p></i>
    </li>
  
</ul>
