  
<div class="box">
 <div class="box-header with-border">
  <h1 class="box-title">Reportes </h1>
  </div>

<div class="box-body bg-gray">

      
   <div class="row">
    <div class="col-md-6">
     <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Habitaciones</h3>

            </div>
            <div class="box-body">
              <div class="row">
                <div class="col-xs-9">
                   <p>Lista las habitaciones disponibles por estado y tipo de habitacion</p>
                </div>
                <div class="col-xs-2">
                  <button class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-chevron-right"></i><a href="#" style="color:white"> Ver reporte</a></button>
                </div>
               
              </div>
            </div>
            <!-- /.box-body -->
          </div>
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Quejas</h3>

            </div>
            <div class="box-body">
              <div class="row">
                <div class="col-xs-9">
                   <p>Lista las quejas por habitacion, servicio relacionado y/o fecha</p>
                </div>
                <div class="col-xs-2">
                  <button class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-chevron-right"></i><%= link_to 'Ver Reporte', my_new_complaints_path, style: "color:white"%></button>
                </div>
               
              </div>
            </div>
            <!-- /.box-body -->
          </div>

<div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Clientes</h3>

            </div>
            <div class="box-body">
              <div class="row">
                <div class="col-xs-9">
                   <p>Lista los clientes registrados dentro del Hotel</p>
                </div>
                <div class="col-xs-2">
                  <button class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-chevron-right"></i><a href="#" style="color:white"> Ver reporte</a></button>
                </div>
               
              </div>
            </div>
            <!-- /.box-body -->
          </div>

          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Servicios y Precios</h3>

            </div>
            <div class="box-body">
              <div class="row">
                <div class="col-xs-9">
                   <p>Lista los servicios con sus respectivos precios</p>
                </div>
                <div class="col-xs-2">
                  <button class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-chevron-right"></i><a href="#" style="color:white"> Ver reporte</a></button>
                </div>
               
              </div>
            </div>
            <!-- /.box-body -->
          </div>

          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Cuentas de las Habitaciones</h3>

            </div>
            <div class="box-body">
              <div class="row">
                <div class="col-xs-9">
                   <p>Lista los servicios registrados dentro de la cuenta de una habitacion</p>
                </div>
                <div class="col-xs-2">
                  <button class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-chevron-right"></i><a href="#" style="color:white"> Ver reporte</a></button>
                </div>
               
              </div>
            </div>
            <!-- /.box-body -->
          </div>

          </div>
          
          <div class="col-md-6">

          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Limpieza</h3>

            </div>
            <div class="box-body">
              <div class="row">
                <div class="col-xs-9">
                   <p>Lista los servicios de limpieza y quien los realizo en rango de fechas</p>
                </div>
                <div class="col-xs-2">
                  <button class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-chevron-right"></i><a href="#" style="color:white"> Ver reporte</a></button>
                </div>
               
              </div>
            </div>
            <!-- /.box-body -->
          </div>
  

          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Ingresos</h3>

            </div>
            <div class="box-body">
              <div class="row">
                <div class="col-xs-9">
                   <p>Lista los ingresos del hotel por rango de fechas</p>
                </div>
                <div class="col-xs-2">
                  <button class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-chevron-right"></i><a href="#" style="color:white"> Ver reporte</a></button>
                </div>
               
              </div>
            </div>
            <!-- /.box-body -->
          </div>
   
    
     <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Pedido de Reservas</h3>

            </div>
            <div class="box-body">
              <div class="row">
                <div class="col-xs-9">
                   <p>Lista los pedidos de reserva y su actual estado</p>
                </div>
                <div class="col-xs-2">
                  <button class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-chevron-right"></i><a href="#" style="color:white"> Ver reporte</a></button>
                </div>
               
              </div>
            </div>
            <!-- /.box-body -->
          </div>
       
        <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Valores</h3>

            </div>
            <div class="box-body">
              <div class="row">
                <div class="col-xs-9">
                   <p>Lista los valores recibidos del hotel</p>
                </div>
                <div class="col-xs-2">
                  <button class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-chevron-right"></i><a href="#" style="color:white"> Ver reporte</a></button>
                </div>
               
              </div>
            </div>
            <!-- /.box-body -->
          </div>
    </div>

</div>
</div>
