<div class="row">
	<div class="col-sm-12 page-header">                    
        <h2>
            <i class="fa fa-list-alt"></i> Cuenta           
        </h2>                                 
    </div>                                
</div>

<%= render 'form' %>

<%= link_to 'Ver', @account %> |
<%= link_to 'Cancelar', accounts_path %>
