<div class="box box-primary">   
    <div class="box-header">
		<h1 ><span class="glyphicon glyphicon-check"></span> Registrar Check-In</h1>
	</div>
	<div class="box-body">

		<%= render 'form' %>

	</div>
</div>
