<div class="row">
	<div class="col-sm-12 page-header">                    
        <h2>
            <i class="fa fa-list-alt"></i> Registrar Check-In            
        </h2>                                 
    </div>                                
</div>

<%= render 'form' %>

<%= link_to 'Volver', accounts_path %>
